
@import "~@angular/material/prebuilt-themes/deeppurple-amber";

body{
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
}
.container{
	font-family: 'Source Sans Pro', sans-serif;
	margin:10px;
	padding:10px;
}

header.navbar{
	border-radius: 0px !important;
}
.pull-right{
	float:right;
}

table{
	width: 100%;
	td {
		border-bottom:1px solid #ccc;
	}
	th{
		text-align: left;
		font-weight: bold;
	}
}

.full-width{
	width:100%;
}

.actionsIcon{
	color:#333;
}

.form-control{
	margin-bottom:10px;
}
.form-control-select{
	margin-bottom:20px;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.select-error{
	font-size: 75%;
	margin-top:-10px;
}