<h1>Add partner</h1>
<form>
	<md-input-container class="full-width">
	  <input mdInput placeholder="Name" value="">
	</md-input-container>

	<md-input-container >
	  <input mdInput placeholder="Abbr" value="">
	</md-input-container>

	<md-input-container class="full-width">
	  <input mdInput placeholder="URL" value="">
	</md-input-container>

</form>

<a href="#/partners" md-button ><md-icon class="actionsIcon">cancel</md-icon> Cancel</a>
<button  md-button ><md-icon class="actionsIcon">save</md-icon> Save</button>