
table{
	width: 100%;
	td {
		border-bottom:1px solid #ccc;
	}
	th{
		text-align: left;
		font-weight: bold;
	}
}
.actionsIcon{
	color:#333;
}
.full-width{
	width:100%;
}
.form-control{
	margin-bottom:10px;
}