<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <md-toolbar color="primary">
    <span routerLink="/" class="appName">App</span>
    <button md-button [mdMenuTriggerFor]="appMenu">
      <md-icon>settings</md-icon>
    </button>
    <md-menu #appMenu="mdMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
      <a routerLink="admin/partners" md-menu-item> Partners </a>
      <a routerLink="admin/users" md-menu-item> Users </a>
    </md-menu>
    <span class="example-fill-remaining-space"></span>
    <button md-button [mdMenuTriggerFor]="userMenu">
      <md-icon>person</md-icon> {{currentUser.name}}</button>
    <md-menu #userMenu="mdMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
      <a md-menu-item (click)="logout()">
        <md-icon>exit_to_app</md-icon> Logout </a>
    </md-menu>
  </md-toolbar>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
